button {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    padding: 0;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

#container {
    display: flex;
    flex-wrap: wrap;
}